<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>feed</title>
    <link th:href="@{/form.css}" rel="stylesheet"/>
    <link th:href="@{/nav.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <nav th:replace="nav :: nav"></nav>
</header>
<div><h1>Feed</h1></div><br>
<form th:each="post : ${userPost}">
    <fieldset>
        <div class="mb-3">
            <div style="width:100%; height: 50px;" class="postBG">
                <a  th:href="'/user/' + ${post.applicationUser.id}"><p th:text="${post.applicationUser.username}" class="userN"></p></a>
                <p th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy HH:mm')}" class="postDate"></p>
            </div>
            <div style="width:100%; border-style: groove;"><p th:text="${post.body}" class="postBody"></p></div>

        </div>
    </fieldset>
</form>
</body>
</html>