.main-page {
float: left;
color: white;
text-decoration: none;
display: block;
margin-left: 18px;
}
.main {
float: right;
}
.navbar {
width:100%;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-color: #333;
}
li {
  float: left;
  margin-left: 25px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}